/**
* color palette
* 
* #E6DED3 background
* #AA5758, #BA5B50 fonts
* #293858 call to action
*/

//colors
$rose-value: #AA5758;
$pearl-blush: #E6DED3;
$sweet-gardenia: #F0E5DD;

$harbour-mist: #DCE3E4;
$black-pearl: #1E1E2C;
$antartic-blue: #293858;
$black-blueberry: #2D2D44;

body {
  margin: 0 auto;
  color: $rose-value;
}

.with-guideline {
  border: dotted black 1px; 
}


