/**
* color palette
* 
* #E6DED3 background
* #AA5758, #BA5B50 fonts
* #293858 call to action
*/

//colors
$rose-value: #AA5758;
$antartic-blue: #293858;
$pearl-blush: #E6DED3;

body {
  background-color: $pearl-blush;
  margin: 0 auto;
}


