@import './settings';

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf')  format('truetype'),
}

body {
  background-color: $rhino;
  font-family: 'Poppins';
}

html, body, #__layout, #__nuxt {
  height: 100%;
}

.under-construction-page {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  .under-construction-message {
    width: 100%;
    text-align: center;
    &::before {
      content: '</> This Page is under construction </>';
      font-size: 50px;
      color: $cavern-pink;
    }
  }
}
