@import './settings';

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Shrikhand';
  src: url('assets/fonts/Shrikhand/Shrikhand-Regular.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Crimson Text';
  src: url('assets/fonts/Crimson_Text/CrimsonText-Regular.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Crimson Text Bold';
  src: url('assets/fonts/Crimson_Text/CrimsonText-Bold.ttf')  format('truetype'),
}

body {
  margin: 0;
  padding: 0;
}

html, body, #__layout, #__nuxt {
  height: 100%;
}

.under-construction-page {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  .under-construction-message {
    width: 100%;
    text-align: center;
    &::before {
      content: '</> This Page is under construction </>';
      font-size: 50px;
      color: $cavern-pink;
    }
  }
}
