.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  .portrait {
    justify-self: center;
    img {
      height: 500px;
    }
  }
  .hero {
    width: 50%;
    .intro {
      h1 {
        font-size: 40px;
        color: $cavern-pink;
        margin-bottom: 0;
        padding: 20px;
        position: relative;
        z-index: 0;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: black;
          left: 0;
          top: 0;
          z-index: -1;
          animation: slide-in 1s forwards;
          -webkit-animation: slide-in 1s forwards;
        }
      }
      p {
        font-size: 30px;
        margin-top: 20px;
        color: $faded-pink;
        span {
          display: block;
          font-size: 16px;
          font-style: italic;
        }
      }
    }
  }
}

@media only screen and (min-width: 745px) {
  .home-page {
    .hero {
      position: relative;
      .intro {
        position: absolute;
        left: -80px;
        top: 100px;
        p {
          position: absolute;
          left: 120px;
        }

      }
    }
  }
}

@keyframes slide-in {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes slide-in {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
